{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnonCAT</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{% static 'media/cogstack_logo.png' %}" alt="cogstack_logo" class="image-size">
            <h1>AnonCAT</h1>
            <img src="{% static 'media/nhs_logo.png' %}" alt="nhs_logo" class="image-size">
        </div>
    </header>
    
    <div id="root"></div>
    
    <script>
        // Retrieve the CSRF token from the cookie
        const csrfToken = "{{ csrf_token }}";
      
        // Pass the CSRF token to your JavaScript code
        // You can assign it to a global variable or store it in a data attribute on an HTML element
        // For simplicity, we'll assign it to a global variable here
        window.csrfToken = csrfToken;
    </script>

    <script src="{% static 'js/bundle.js' %}"></script>

    <footer>
        <div class="disclaimer">
            <p>This is for demo purposes only</p>
        </div>
    </footer>

</body>
</html>
